* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif; 
}

h1 {
    font-size: 50px;
    line-height: 1;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 1.5;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-size: 17px;
    font-weight: 700;
    color: black
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0px 20px 0px;
}

body {
    width: 100%;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 15px;
    position: relative;
}

#navbar li a,
#navbar li a.active {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(83, 63, 34);
    transition: 1s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(218, 64, 126);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: " ";
    width: 40px;
    height: 2px; 
    background-color: palevioletred;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

/* Home page */

#hero {
    background-image: url(./Images/pexels-photo-9454915.jpeg);
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 0 80px;
    background-repeat: repeat;
    background-size: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}



#hero h4 {
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

#hero h2 {
    color: purple;
}

#hero h1 {
    color: white;
    }

#hero p {
    color: white;
}

#hero button {
    background-color: purple;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
}

#hero button:hover {
    background-color: white;
    color: purple;
}

#brands {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: purple;
}

#brands h3 {
    font-size: 25px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    border-radius: 5px;
    border: 1px #c4bdbd solid;    
}